node-red/flows.json
[{"id":"806ceda2.45ef8","type":"tab","label":"Test","disabled":false,"info":""},{"id":"d5821ff4.a55b48","type":"tab","label":"Garage Doors","disabled":false,"info":""},{"id":"35a50351.de44dc","type":"tab","label":"Automower","disabled":false,"info":""},{"id":"fa4047c5.50e91","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"860d2cc9.c3564","type":"server","name":"Home Assistant","addon":true},{"id":"cf10224.998096","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"database","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d970d9a1.8732d8","type":"api-call-service","z":"d5821ff4.a55b48","name":"notify Kodey via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_kodeys_iphone","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":730,"y":260,"wires":[[]]},{"id":"3d735dba.69be92","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door closed","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":140,"y":200,"wires":[["2285e9de.d484ee"],[]]},{"id":"a27d2048.70bad","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door opened","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":150,"y":240,"wires":[["8aea1665.06c9f8"],[]]},{"id":"ab08950.efa1368","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door closed","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":150,"y":280,"wires":[["3e353262.5071fe"],[]]},{"id":"db2d401.d31e8c","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door open for 10 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":180,"y":360,"wires":[["770e3f87.9e581"],[]]},{"id":"da2e024a.c5a91","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door open for 10 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":190,"y":400,"wires":[["d2d30508.a244e"],[]]},{"id":"2285e9de.d484ee","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Left garage door was just closed.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":200,"wires":[["d970d9a1.8732d8"]]},{"id":"f6edf676.a3f6c","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Left garage door was just opened.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":160,"wires":[["d970d9a1.8732d8"]]},{"id":"fe2c6081.b98ee","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door opened","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":150,"y":160,"wires":[["f6edf676.a3f6c"],[]]},{"id":"8aea1665.06c9f8","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Right garage door was just opened.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":240,"wires":[["d970d9a1.8732d8"]]},{"id":"3e353262.5071fe","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Right garage door was just closed.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":280,"wires":[["d970d9a1.8732d8"]]},{"id":"770e3f87.9e581","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Left garage door has been open for 10 minutes.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":360,"wires":[["d970d9a1.8732d8"]]},{"id":"d2d30508.a244e","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"message\": \"Right garage door has been open for 10 minutes.\",\n  \"title\": \"Home update\"\n}","output":"json","x":460,"y":400,"wires":[["d970d9a1.8732d8"]]},{"id":"d4701ad.9b4e268","type":"ha-zone","z":"35a50351.de44dc","name":"enters home","server":"860d2cc9.c3564","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.automower_none_201106391_200652209"],"event":"enter","zones":["zone.home"],"x":120,"y":500,"wires":[["dc9a0494.75468","1fa1e5b4.2875a2"]]},{"id":"1b1c61dd.e77f6e","type":"ha-zone","z":"35a50351.de44dc","name":"leaves home","server":"860d2cc9.c3564","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.automower_none_201106391_200652209"],"event":"leave","zones":["zone.home"],"x":120,"y":225,"wires":[["1cf21d82.8ba4ea","fdf19969.f3ed38"]]},{"id":"dc9a0494.75468","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has returned home.","output":"str","x":455,"y":500,"wires":[["1915fe31.e7164a"]]},{"id":"1cf21d82.8ba4ea","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has left home.","output":"yaml","x":455,"y":225,"wires":[["1915fe31.e7164a"]]},{"id":"fdf19969.f3ed38","type":"trigger","z":"35a50351.de44dc","name":"wait 5m","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":285,"y":275,"wires":[["927b63be.c40ca"]],"icon":"node-red/timer.svg"},{"id":"1fa1e5b4.2875a2","type":"template","z":"35a50351.de44dc","name":"cancel","field":"reset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"true","output":"json","x":150,"y":350,"wires":[["fdf19969.f3ed38","927b63be.c40ca"]],"icon":"font-awesome/fa-close"},{"id":"22515d1f.b643e2","type":"moment","z":"35a50351.de44dc","name":"format time","topic":"","input":"data.new_state.last_updated","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"duration","outputType":"msg","outTz":"America/New_York","x":395,"y":375,"wires":[["c1f3c6c9.337ba8"]]},{"id":"c1f3c6c9.337ba8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has been away from home since {{duration}}.","output":"str","x":455,"y":425,"wires":[["1915fe31.e7164a"]]},{"id":"6798426e.c9eccc","type":"api-call-service","z":"35a50351.de44dc","name":"notify Kodey via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_kodeys_iphone","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1535,"y":425,"wires":[[]]},{"id":"1915fe31.e7164a","type":"template","z":"35a50351.de44dc","name":"build critical notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update\n\n  data:\n    push:\n      sound:\n        name: \"default\"\n\n        critical: 1\n        volume: 1.0","output":"yaml","x":710,"y":425,"wires":[["6798426e.c9eccc"]]},{"id":"927b63be.c40ca","type":"trigger","z":"35a50351.de44dc","name":"remind every 10m","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":365,"y":325,"wires":[["22515d1f.b643e2"]],"icon":"font-awesome/fa-repeat"},{"id":"2c8d825f.f905b6","type":"comment","z":"35a50351.de44dc","name":"reminders","info":"reminders are sent every 10 minutes until the mower returns home","x":460,"y":275,"wires":[]},{"id":"58cc5892.adc55","type":"state-machine","z":"35a50351.de44dc","name":"dedupe duplicate states","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["stopped","cutting","traveling","charging","errored"],"transitions":[{"name":"Error","from":"*","to":"errored"},{"name":"Charging","from":"*","to":"charging"},{"name":"Cutting","from":"*","to":"cutting"},{"name":"Cutting (manual timer override)","from":"*","to":"charging"},{"name":"Leaving charging station","from":"*","to":"charging"},{"name":"Paused","from":"*","to":"stopped"},{"name":"Parked due to timer","from":"*","to":"charging"},{"name":"Parked due to weather timer","from":"*","to":"charging"},{"name":"Parked manually","from":"*","to":"stopped"},{"name":"Going to charging station","from":"*","to":"traveling"},{"name":"Hatch opened","from":"*","to":"stopped"},{"name":"Stopped but not on base","from":"*","to":"stopped"},{"name":"Off","from":"*","to":"stopped"}],"x":385,"y":675,"wires":[["36304b8a.d0a3ec"]]},{"id":"f74f04b9.af64f","type":"server-state-changed","z":"35a50351.de44dc","name":"when state changes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.mo","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":140,"y":675,"wires":[["58cc5892.adc55"]]},{"id":"1dccd7fb.5d66d","type":"poll-state","z":"fa4047c5.50e91","name":"if is unavailable","server":"860d2cc9.c3564","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"vacuum.sharkbot","state_type":"str","halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":155,"y":400,"wires":[["1e0273b1.dddcd4"],[]]},{"id":"58612a34.942f5c","type":"server-state-changed","z":"fa4047c5.50e91","name":"if changes to unavailable","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.sharkbot","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":185,"y":350,"wires":[["1e0273b1.dddcd4"],[]]},{"id":"1e0273b1.dddcd4","type":"delay","z":"fa4047c5.50e91","name":"limit 1 msg every 5 minuted","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":470,"y":375,"wires":[["f5e308a1.08e688"]]},{"id":"f5e308a1.08e688","type":"ha-api","z":"fa4047c5.50e91","name":"reload Shark integration","server":"860d2cc9.c3564","version":1,"debugenabled":true,"protocol":"http","method":"post","path":"/api/config/config_entries/entry/c63bab7a4e664f5dab048d1419b3bd2c/reload","data":"","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":760,"y":375,"wires":[[]]},{"id":"842c3548.f7de5","type":"inject","z":"fa4047c5.50e91","name":"everyday at 9am","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","x":165,"y":75,"wires":[["a26cc87a.84977"]]},{"id":"a26cc87a.84977","type":"api-current-state","z":"fa4047c5.50e91","name":"if no one is home","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.anyone_home","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":75,"wires":[["39ee2f0c.13cae"],[]]},{"id":"39ee2f0c.13cae","type":"api-call-service","z":"fa4047c5.50e91","name":"start cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":605,"y":75,"wires":[[]]},{"id":"ef2fc7fd.cd8218","type":"server-state-changed","z":"fa4047c5.50e91","name":"when someone arrives home","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.anyone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":195,"y":175,"wires":[["71be02bf.8ce884"],[]]},{"id":"71be02bf.8ce884","type":"api-current-state","z":"fa4047c5.50e91","name":"if cleaning","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.sharkbot","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":445,"y":200,"wires":[["b95b99f5.c49e8","cab86ffb.30f71"],[]]},{"id":"b95b99f5.c49e8","type":"api-call-service","z":"fa4047c5.50e91","name":"pause cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":655,"y":175,"wires":[[]]},{"id":"cab86ffb.30f71","type":"ha-wait-until","z":"fa4047c5.50e91","name":"wait 30 minutes for everyone to leave","server":"860d2cc9.c3564","version":0,"outputs":2,"entityId":"binary_sensor.anyone_home","entityIdFilterType":"exact","property":"state","comparator":"is","value":"false","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":725,"y":225,"wires":[["c5152e5b.f6db1"],["f4dcf705.9cd94"]]},{"id":"f4dcf705.9cd94","type":"api-call-service","z":"fa4047c5.50e91","name":"return to dock","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1005,"y":250,"wires":[[]]},{"id":"c5152e5b.f6db1","type":"api-call-service","z":"fa4047c5.50e91","name":"resume cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1005,"y":200,"wires":[[]]},{"id":"36304b8a.d0a3ec","type":"switch","z":"35a50351.de44dc","name":"state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopped","vt":"str"},{"t":"eq","v":"cutting","vt":"str"},{"t":"eq","v":"traveling","vt":"str"},{"t":"eq","v":"charging","vt":"str"},{"t":"eq","v":"errored","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":600,"y":675,"wires":[["26823831.2618c8"],[],[],[],["cbf5d041.c3e2c"]]},{"id":"82622aeb.41315","type":"template","z":"35a50351.de44dc","name":"build notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update","output":"yaml","x":1230,"y":575,"wires":[["6798426e.c9eccc"]]},{"id":"26823831.2618c8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just paused.","output":"str","x":780,"y":650,"wires":[["82622aeb.41315","b7343120.898578"]]},{"id":"16dce985.9481d6","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just resumed.","output":"str","x":1030,"y":675,"wires":[["82622aeb.41315"]]},{"id":"b7343120.898578","type":"ha-wait-until","z":"35a50351.de44dc","name":"when resumed","server":"860d2cc9.c3564","version":0,"outputs":2,"entityId":"vacuum.mo","entityIdFilterType":"exact","property":"state","comparator":"does_not_include","value":"Paused,Parked manually,Stopping...,Hatch opened,Stopped but not on base,Off","valueType":"str","timeout":"1","timeoutType":"num","timeoutUnits":"days","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":830,"y":700,"wires":[["16dce985.9481d6"],["e62f8fc5.0202c8"]]},{"id":"e62f8fc5.0202c8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was has been paused for 1 day.","output":"str","x":1030,"y":725,"wires":[["82622aeb.41315"]]},{"id":"e21d0d19.777df8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert! Mo just entered an alarmed status: {{data.attributes.lastErrorMessage}}","output":"str","x":1030,"y":825,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"cbf5d041.c3e2c","type":"api-current-state","z":"35a50351.de44dc","name":"get error message","server":"860d2cc9.c3564","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.mo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":765,"y":775,"wires":[["9ebfb0c0.2a7848"]]},{"id":"9ebfb0c0.2a7848","type":"switch","z":"35a50351.de44dc","name":"error message","property":"data.attributes.lastErrorMessage","propertyType":"msg","rules":[{"t":"cont","v":"Alarm","vt":"str"},{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":3,"x":805,"y":825,"wires":[["e21d0d19.777df8"],["8d86cf07.d1d65"],["12e36994.5cb23e"]]},{"id":"8d86cf07.d1d65","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo just entered an errored state: {{data.attributes.lastErrorMessage}}","output":"str","x":1030,"y":875,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"12e36994.5cb23e","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo just entered an unknown errored state!","output":"str","x":1030,"y":925,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"5dd7bdb2.87ee4c","type":"template","z":"35a50351.de44dc","name":"build critical notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update\n\n  data:\n    push:\n      sound:\n        name: \"default\"\n\n        critical: 1\n        volume: 1.0","output":"yaml","x":1260,"y":850,"wires":[["6798426e.c9eccc"]]},{"id":"1deda17d.36a01f","type":"poll-state","z":"35a50351.de44dc","name":"when cutting","server":"860d2cc9.c3564","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"15","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"vacuum.mo","state_type":"str","halt_if":"Cutting,Cutting (manual timer override)","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"x":120,"y":850,"wires":[["ef646315.414348"],[]]},{"id":"ef646315.414348","type":"api-current-state","z":"35a50351.de44dc","name":"get location","server":"860d2cc9.c3564","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.automower_none_201106391_200652209","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":850,"wires":[["631260a5.43ce3"]]},{"id":"1dccace0.92c8c3","type":"influxdb out","z":"35a50351.de44dc","influxdb":"cf10224.998096","name":"send to influxdb","measurement":"automower","precision":"ms","retentionPolicy":"two-weeks","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":605,"y":900,"wires":[]},{"id":"631260a5.43ce3","type":"function","z":"35a50351.de44dc","name":"build measurement","func":"return {\n    payload: [\n        {\n            longitude: msg.data.attributes.longitude,\n            latitude: msg.data.attributes.latitude,\n            time: Math.round(Date.parse(msg.data.last_updated))\n        },\n        {\n            \"name\": \"Mo\"\n        }\n    ]\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":900,"wires":[["1dccace0.92c8c3"]]},{"id":"f1d48761.9ef4c8","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door open for 20 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"20","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":190,"y":475,"wires":[["7e8a40f2.cf992"],[]]},{"id":"7b4b4ddb.24beac","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door open for 20 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"20","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":200,"y":525,"wires":[["16d0bd0f.be4593"],[]]},{"id":"7e8a40f2.cf992","type":"api-current-state","z":"d5821ff4.a55b48","name":"if no one is home","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.anyone_home","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":475,"wires":[["74c96dcc.5f7164"],[]]},{"id":"16d0bd0f.be4593","type":"api-current-state","z":"d5821ff4.a55b48","name":"if no one is home","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"false","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.anyone_home","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":525,"wires":[["329596d5.2c92e2"],[]]},{"id":"74c96dcc.5f7164","type":"api-call-service","z":"d5821ff4.a55b48","name":"close left garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_left_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":475,"wires":[[]]},{"id":"329596d5.2c92e2","type":"api-call-service","z":"d5821ff4.a55b48","name":"close right garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_right_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":525,"wires":[[]]},{"id":"ed0f6244.21d5e","type":"openweathermap","z":"35a50351.de44dc","name":"get weather forecast","wtype":"forecast","lon":"-72.50231981277467","lat":"44.167322001431906","city":"","country":"","language":"en","x":375,"y":1000,"wires":[["396f9a6f.ccfe36"]]},{"id":"6cd8539a.820cb4","type":"inject","z":"35a50351.de44dc","name":"every 30 minutes","props":[],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1000,"wires":[["ed0f6244.21d5e"]]},{"id":"396f9a6f.ccfe36","type":"function","z":"35a50351.de44dc","name":"check rain forecast","func":"const threeHourForecast = msg.payload[0];\nvar status = \"clear\";\n\nif (\"rain\" in threeHourForecast) {\n    const rainForecast = threeHourForecast.rain[\"3h\"];\n    if (rainForecast > 6 /*mm*/) {\n        status = \"rain\";\n    }\n}\nmsg.payload = status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":615,"y":1000,"wires":[["7fa165f7.e8947c"]]},{"id":"7fa165f7.e8947c","type":"trigger","z":"35a50351.de44dc","name":"trigger rain delay","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"hr","reset":"clear","bytopic":"all","topic":"topic","outputs":2,"x":840,"y":1000,"wires":[["970eb39.e5f93d"],["b8084e20.d7adf8"]]},{"id":"970eb39.e5f93d","type":"api-call-service","z":"35a50351.de44dc","name":"send to dock","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.mo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1070,"y":1000,"wires":[[]]},{"id":"b8084e20.d7adf8","type":"api-call-service","z":"35a50351.de44dc","name":"resume","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.mo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":1050,"wires":[[]]},{"id":"ae407493.b40ca8","type":"catch","z":"35a50351.de44dc","name":"catch errors","scope":null,"uncaught":false,"x":1020,"y":1150,"wires":[["ca2d9b3a.00602"]]},{"id":"ca2d9b3a.00602","type":"template","z":"35a50351.de44dc","name":"build notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update","output":"yaml","x":1230,"y":1150,"wires":[["6798426e.c9eccc"]]}]
