node-red/flows.json
[{"id":"806ceda2.45ef8","type":"tab","label":"Personal Status","disabled":false,"info":""},{"id":"d5821ff4.a55b48","type":"tab","label":"Garage Doors","disabled":false,"info":""},{"id":"35a50351.de44dc","type":"tab","label":"Automower","disabled":false,"info":""},{"id":"fa4047c5.50e91","type":"tab","label":"Vacuum","disabled":false,"info":""},{"id":"eed5e8c5.781ea8","type":"tab","label":"SSL Certificate","disabled":false,"info":""},{"id":"bb95cec4fd47765d","type":"tab","label":"Heat","disabled":false,"info":""},{"id":"40c765c45776809d","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"7bb8f9d1c802476e","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"2868ce2e53b0af86","type":"tab","label":"Electricity","disabled":false,"info":""},{"id":"860d2cc9.c3564","type":"server","name":"Home Assistant","addon":true},{"id":"cf10224.998096","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"database","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"8fe373d930fc33f2","type":"mqtt-broker","name":"mqtt","broker":"192.168.86.230","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"d970d9a1.8732d8","type":"api-call-service","z":"d5821ff4.a55b48","name":"notify Kodey via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_kodeys_iphone","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":1210,"y":375,"wires":[[]]},{"id":"db2d401.d31e8c","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door open for 5 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":190,"y":350,"wires":[["770e3f87.9e581"],[]]},{"id":"da2e024a.c5a91","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door open for 5 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":190,"y":400,"wires":[["d2d30508.a244e"],[]]},{"id":"770e3f87.9e581","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  title: Home Update\n  message: Left garage door has been open for 10 minutes.\n  data:\n    actions:\n      - action: GARAGE_DOOR_CLOSE_LEFT\n        title: Close Left Garage Door\n      - action: GARAGE_DOOR_CLOSE_ALL\n        title: Close All Garage Doors","output":"yaml","x":730,"y":350,"wires":[["d970d9a1.8732d8"]]},{"id":"d2d30508.a244e","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  title: Home Update\n  message: Right garage door has been open for 10 minutes.\n  data:\n    actions:\n      - action: GARAGE_DOOR_CLOSE_RIGHT\n        title: Close Right Garage Door\n      - action: GARAGE_DOOR_CLOSE_ALL\n        title: Close All Garage Doors","output":"yaml","x":730,"y":400,"wires":[["d970d9a1.8732d8"]]},{"id":"d4701ad.9b4e268","type":"ha-zone","z":"35a50351.de44dc","name":"enters home","server":"860d2cc9.c3564","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.automower_none_201106391_200652209"],"event":"enter","zones":["zone.home"],"x":120,"y":500,"wires":[["dc9a0494.75468","1fa1e5b4.2875a2"]]},{"id":"1b1c61dd.e77f6e","type":"ha-zone","z":"35a50351.de44dc","name":"leaves home","server":"860d2cc9.c3564","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.automower_none_201106391_200652209"],"event":"leave","zones":["zone.home"],"x":120,"y":225,"wires":[["1cf21d82.8ba4ea","fdf19969.f3ed38"]]},{"id":"dc9a0494.75468","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has returned home.","output":"str","x":455,"y":500,"wires":[["1915fe31.e7164a"]]},{"id":"1cf21d82.8ba4ea","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has left home.","output":"yaml","x":455,"y":225,"wires":[["1915fe31.e7164a"]]},{"id":"fdf19969.f3ed38","type":"trigger","z":"35a50351.de44dc","name":"wait 5m","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":285,"y":275,"wires":[["927b63be.c40ca"]],"icon":"node-red/timer.svg"},{"id":"1fa1e5b4.2875a2","type":"template","z":"35a50351.de44dc","name":"cancel","field":"reset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"true","output":"json","x":150,"y":350,"wires":[["fdf19969.f3ed38","927b63be.c40ca"]],"icon":"font-awesome/fa-close"},{"id":"22515d1f.b643e2","type":"moment","z":"35a50351.de44dc","name":"format time","topic":"","input":"data.new_state.last_updated","inputType":"msg","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"fromNow","locale":"C","output":"duration","outputType":"msg","outTz":"America/New_York","x":395,"y":375,"wires":[["c1f3c6c9.337ba8"]]},{"id":"c1f3c6c9.337ba8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo has been away from home since {{duration}}.","output":"str","x":455,"y":425,"wires":[["1915fe31.e7164a"]]},{"id":"6798426e.c9eccc","type":"api-call-service","z":"35a50351.de44dc","name":"notify Kodey via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_kodeys_iphone","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1535,"y":425,"wires":[[]]},{"id":"1915fe31.e7164a","type":"template","z":"35a50351.de44dc","name":"build critical notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update\n\n  data:\n    push:\n      sound:\n        name: \"default\"\n\n        critical: 1\n        volume: 1.0","output":"yaml","x":710,"y":425,"wires":[["6798426e.c9eccc"]]},{"id":"927b63be.c40ca","type":"trigger","z":"35a50351.de44dc","name":"remind every 10m","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-10","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":365,"y":325,"wires":[["22515d1f.b643e2"]],"icon":"font-awesome/fa-repeat"},{"id":"2c8d825f.f905b6","type":"comment","z":"35a50351.de44dc","name":"reminders","info":"reminders are sent every 10 minutes until the mower returns home","x":460,"y":275,"wires":[]},{"id":"58cc5892.adc55","type":"state-machine","z":"35a50351.de44dc","name":"dedupe duplicate states","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"0","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["unknown","cutting","traveling","charging","errored","stopped"],"transitions":[{"name":"Error","from":"*","to":"errored"},{"name":"Charging","from":"*","to":"charging"},{"name":"Cutting","from":"*","to":"cutting"},{"name":"Cutting (manual timer override)","from":"*","to":"charging"},{"name":"Leaving charging station","from":"*","to":"charging"},{"name":"Paused","from":"*","to":"cutting"},{"name":"Parked due to timer","from":"*","to":"charging"},{"name":"Parked due to weather timer","from":"*","to":"charging"},{"name":"Parked manually","from":"*","to":"cutting"},{"name":"Going to charging station","from":"*","to":"traveling"},{"name":"Hatch opened","from":"*","to":"cutting"},{"name":"Stopped but not on base","from":"*","to":"cutting"},{"name":"Off","from":"*","to":"cutting"}],"x":385,"y":675,"wires":[["36304b8a.d0a3ec"]]},{"id":"f74f04b9.af64f","type":"server-state-changed","z":"35a50351.de44dc","name":"when state changes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.mo","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"60","forType":"num","forUnits":"seconds","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":140,"y":650,"wires":[["58cc5892.adc55"]]},{"id":"1dccd7fb.5d66d","type":"poll-state","z":"fa4047c5.50e91","d":true,"name":"if is unavailable","server":"860d2cc9.c3564","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"vacuum.sharkbot","state_type":"str","halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":155,"y":400,"wires":[["1e0273b1.dddcd4"],[]]},{"id":"58612a34.942f5c","type":"server-state-changed","z":"fa4047c5.50e91","name":"if changes to unavailable","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.sharkbot","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":185,"y":350,"wires":[["1e0273b1.dddcd4"],[]]},{"id":"1e0273b1.dddcd4","type":"delay","z":"fa4047c5.50e91","name":"limit 1 msg every 5 minutes","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":470,"y":375,"wires":[["f5e308a1.08e688"]]},{"id":"f5e308a1.08e688","type":"ha-api","z":"fa4047c5.50e91","name":"reload Shark integration","server":"860d2cc9.c3564","version":1,"debugenabled":true,"protocol":"http","method":"post","path":"/api/config/config_entries/entry/c63bab7a4e664f5dab048d1419b3bd2c/reload","data":"","dataType":"json","responseType":"json","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"results"}],"x":760,"y":375,"wires":[[]]},{"id":"842c3548.f7de5","type":"inject","z":"fa4047c5.50e91","name":"everyday at 9am","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * *","once":false,"onceDelay":0.1,"topic":"","x":165,"y":75,"wires":[["a26cc87a.84977"]]},{"id":"a26cc87a.84977","type":"api-current-state","z":"fa4047c5.50e91","name":"if Maddy isn't home","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.madelyn_edgar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":75,"wires":[["39ee2f0c.13cae"],[]]},{"id":"39ee2f0c.13cae","type":"api-call-service","z":"fa4047c5.50e91","name":"start cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":605,"y":75,"wires":[[]]},{"id":"ef2fc7fd.cd8218","type":"server-state-changed","z":"fa4047c5.50e91","name":"when Maddy arrives home","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.madelyn_edgar","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":185,"y":175,"wires":[["71be02bf.8ce884"],[]]},{"id":"71be02bf.8ce884","type":"api-current-state","z":"fa4047c5.50e91","name":"if cleaning","server":"860d2cc9.c3564","version":2,"outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.sharkbot","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":445,"y":200,"wires":[["b95b99f5.c49e8","cab86ffb.30f71"],[]]},{"id":"b95b99f5.c49e8","type":"api-call-service","z":"fa4047c5.50e91","name":"pause cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":655,"y":175,"wires":[[]]},{"id":"cab86ffb.30f71","type":"ha-wait-until","z":"fa4047c5.50e91","name":"wait 30 minutes for everyone to leave","server":"860d2cc9.c3564","version":0,"outputs":2,"entityId":"person.madelyn_edgar","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not_home","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":725,"y":225,"wires":[["c5152e5b.f6db1"],["f4dcf705.9cd94"]]},{"id":"f4dcf705.9cd94","type":"api-call-service","z":"fa4047c5.50e91","name":"return to dock","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1005,"y":250,"wires":[[]]},{"id":"c5152e5b.f6db1","type":"api-call-service","z":"fa4047c5.50e91","name":"resume cleaning","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.sharkbot","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1005,"y":200,"wires":[[]]},{"id":"36304b8a.d0a3ec","type":"switch","z":"35a50351.de44dc","name":"state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stopped","vt":"str"},{"t":"eq","v":"cutting","vt":"str"},{"t":"eq","v":"traveling","vt":"str"},{"t":"eq","v":"charging","vt":"str"},{"t":"eq","v":"errored","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":600,"y":675,"wires":[["26823831.2618c8"],[],[],[],["cbf5d041.c3e2c"]]},{"id":"82622aeb.41315","type":"template","z":"35a50351.de44dc","name":"build notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update","output":"yaml","x":1230,"y":575,"wires":[["6798426e.c9eccc"]]},{"id":"26823831.2618c8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just paused.","output":"str","x":780,"y":650,"wires":[["82622aeb.41315","b7343120.898578"]]},{"id":"16dce985.9481d6","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just resumed.","output":"str","x":1030,"y":675,"wires":[["82622aeb.41315"]]},{"id":"b7343120.898578","type":"ha-wait-until","z":"35a50351.de44dc","name":"when resumed","server":"860d2cc9.c3564","version":0,"outputs":2,"entityId":"vacuum.mo","entityIdFilterType":"exact","property":"state","comparator":"does_not_include","value":"Paused,Parked manually,Stopping...,Hatch opened,Stopped but not on base,Off","valueType":"str","timeout":"1","timeoutType":"num","timeoutUnits":"days","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":830,"y":700,"wires":[["16dce985.9481d6"],["e62f8fc5.0202c8"]]},{"id":"e62f8fc5.0202c8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was has been paused for 1 day.","output":"str","x":1030,"y":725,"wires":[["82622aeb.41315"]]},{"id":"e21d0d19.777df8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert! Mo just entered an alarmed status: {{data.attributes.lastErrorMessage}}","output":"str","x":1030,"y":825,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"cbf5d041.c3e2c","type":"api-current-state","z":"35a50351.de44dc","name":"get error message","server":"860d2cc9.c3564","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.mo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":765,"y":775,"wires":[["9ebfb0c0.2a7848"]]},{"id":"9ebfb0c0.2a7848","type":"switch","z":"35a50351.de44dc","name":"error message","property":"data.attributes.lastErrorMessage","propertyType":"msg","rules":[{"t":"cont","v":"Alarm","vt":"str"},{"t":"nnull"},{"t":"null"}],"checkall":"false","repair":false,"outputs":3,"x":805,"y":825,"wires":[["e21d0d19.777df8"],["8d86cf07.d1d65"],["12e36994.5cb23e"]]},{"id":"8d86cf07.d1d65","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo just entered an errored state: {{data.attributes.lastErrorMessage}}","output":"str","x":1030,"y":875,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"12e36994.5cb23e","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo just entered an unknown errored state!","output":"str","x":1030,"y":925,"wires":[["5dd7bdb2.87ee4c"]]},{"id":"5dd7bdb2.87ee4c","type":"template","z":"35a50351.de44dc","name":"build critical notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update\n\n  data:\n    push:\n      sound:\n        name: \"default\"\n\n        critical: 1\n        volume: 1.0","output":"yaml","x":1260,"y":850,"wires":[["6798426e.c9eccc"]]},{"id":"1deda17d.36a01f","type":"poll-state","z":"35a50351.de44dc","name":"when cutting","server":"860d2cc9.c3564","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"15","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"vacuum.mo","state_type":"str","halt_if":"Cutting,Cutting (manual timer override)","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"x":120,"y":850,"wires":[["ef646315.414348"],[]]},{"id":"ef646315.414348","type":"api-current-state","z":"35a50351.de44dc","name":"get location","server":"860d2cc9.c3564","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.automower_none_201106391_200652209","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":320,"y":850,"wires":[["631260a5.43ce3"]]},{"id":"1dccace0.92c8c3","type":"influxdb out","z":"35a50351.de44dc","influxdb":"cf10224.998096","name":"send to influxdb","measurement":"automower","precision":"ms","retentionPolicy":"two-weeks","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":605,"y":900,"wires":[]},{"id":"631260a5.43ce3","type":"function","z":"35a50351.de44dc","name":"build measurement","func":"return {\n    payload: [\n        {\n            longitude: msg.data.attributes.longitude,\n            latitude: msg.data.attributes.latitude,\n            time: Math.round(Date.parse(msg.data.last_updated))\n        },\n        {\n            \"name\": \"Mo\"\n        }\n    ]\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":900,"wires":[["1dccace0.92c8c3"]]},{"id":"f1d48761.9ef4c8","type":"server-state-changed","z":"d5821ff4.a55b48","name":"left garage door open for 10 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_left_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":190,"y":475,"wires":[["74c96dcc.5f7164"],[]]},{"id":"7b4b4ddb.24beac","type":"server-state-changed","z":"d5821ff4.a55b48","name":"right garage door open for 10 minutes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.garage_right_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":200,"y":525,"wires":[["329596d5.2c92e2"],[]]},{"id":"74c96dcc.5f7164","type":"api-call-service","z":"d5821ff4.a55b48","name":"close left garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_left_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":575,"y":475,"wires":[["24e67f7ec29b8071"]]},{"id":"329596d5.2c92e2","type":"api-call-service","z":"d5821ff4.a55b48","name":"close right garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_right_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":585,"y":525,"wires":[["619c4983bb8b02fe"]]},{"id":"ed0f6244.21d5e","type":"openweathermap","z":"35a50351.de44dc","name":"get weather forecast","wtype":"forecast","lon":"-72.50231981277467","lat":"44.167322001431906","city":"","country":"","language":"en","x":375,"y":1000,"wires":[["396f9a6f.ccfe36"]]},{"id":"6cd8539a.820cb4","type":"inject","z":"35a50351.de44dc","d":true,"name":"every 30 minutes","props":[],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":1000,"wires":[["ed0f6244.21d5e"]]},{"id":"396f9a6f.ccfe36","type":"function","z":"35a50351.de44dc","name":"check rain forecast","func":"const threeHourForecast = msg.payload[0];\nvar status = \"clear\";\n\nif (\"rain\" in threeHourForecast) {\n    const rainForecast = threeHourForecast.rain[\"3h\"];\n    if (rainForecast > 5 /*mm*/) {\n        status = \"rain\";\n    }\n}\nmsg.payload = status;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":615,"y":1000,"wires":[["6ea5a0cb.98682"]]},{"id":"7fa165f7.e8947c","type":"trigger","z":"35a50351.de44dc","name":"trigger rain delay","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"1","extend":true,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":990,"y":1000,"wires":[["970eb39.e5f93d","cdae7c1f.d515f8"],["b8084e20.d7adf8","e7303c1e.c7715"]]},{"id":"970eb39.e5f93d","type":"api-call-service","z":"35a50351.de44dc","name":"send to dock","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"vacuum.mo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":1220,"y":1000,"wires":[[]]},{"id":"b8084e20.d7adf8","type":"api-call-service","z":"35a50351.de44dc","name":"resume","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"vacuum","service":"turn_on","entityId":"vacuum.mo","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":1100,"wires":[[]]},{"id":"ae407493.b40ca8","type":"catch","z":"35a50351.de44dc","name":"catch errors","scope":null,"uncaught":false,"x":1020,"y":1225,"wires":[["ca2d9b3a.00602"]]},{"id":"ca2d9b3a.00602","type":"template","z":"35a50351.de44dc","name":"build notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update","output":"yaml","x":1230,"y":1225,"wires":[["6798426e.c9eccc"]]},{"id":"6ea5a0cb.98682","type":"switch","z":"35a50351.de44dc","name":"if rain","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rain","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":1000,"wires":[["7fa165f7.e8947c"]]},{"id":"cdae7c1f.d515f8","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just paused due to rain.","output":"str","x":1255,"y":1050,"wires":[["1565e2a9.5806f5"]]},{"id":"e7303c1e.c7715","type":"template","z":"35a50351.de44dc","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Mo was just resumed due to clear weather.","output":"str","x":1255,"y":1150,"wires":[["1565e2a9.5806f5"]]},{"id":"1565e2a9.5806f5","type":"template","z":"35a50351.de44dc","name":"build notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update","output":"yaml","x":1455,"y":1075,"wires":[["6798426e.c9eccc"]]},{"id":"8d7a4212.adb0c","type":"credentials","z":"806ceda2.45ef8","name":"load peloton credentials","props":[{"value":"pelotonUsername","type":"msg"},{"value":"pelotonPassword","type":"msg"}],"x":310,"y":150,"wires":[["5d99d1b0.29ddf8"]]},{"id":"a69d35fd.a60de","type":"http request","z":"806ceda2.45ef8","name":"send login request","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":250,"wires":[["7bdb2360.3a5ab4"]]},{"id":"5d99d1b0.29ddf8","type":"function","z":"806ceda2.45ef8","name":"format login request","func":"return {\n    headers: {\n        \"content-type\": \"application/json\",\n        \"user-agent\": \"kodey@conve.rs\"\n    },\n    method: \"POST\",\n    url: \"https://api.onepeloton.com/auth/login\",\n    payload: {\n      \"username_or_email\": msg.pelotonUsername,\n      \"password\": msg.pelotonPassword\n    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":375,"y":200,"wires":[["a69d35fd.a60de"]]},{"id":"3443c769.18c7b8","type":"inject","z":"806ceda2.45ef8","name":"every day","props":[],"repeat":"86400","crontab":"","once":true,"onceDelay":"1","topic":"","x":220,"y":100,"wires":[["8d7a4212.adb0c"]]},{"id":"7bdb2360.3a5ab4","type":"change","z":"806ceda2.45ef8","name":"save peloton cookies to flow","rules":[{"t":"set","p":"pelotonSessionId","pt":"flow","to":"payload.session_id","tot":"msg"},{"t":"set","p":"pelotonUserId","pt":"flow","to":"payload.user_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[[]]},{"id":"19fa103a.ed9168","type":"inject","z":"806ceda2.45ef8","name":"every minute","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":"10","topic":"","x":330,"y":400,"wires":[["ad5fb327.2feef"]]},{"id":"ad5fb327.2feef","type":"function","z":"806ceda2.45ef8","name":"format latest workout request","func":"return {\n    headers: {\n        \"content-type\": \"application/json\",\n        \"accept\": \"application/json\",\n        \"user-agent\": \"kodey@conve.rs\",\n        \"cookie\": \"peloton_session_id=\" + flow.get(\"pelotonSessionId\")\n    },\n    method: \"GET\",\n    url: \"https://api.onepeloton.com/api/user/\" + flow.get(\"pelotonUserId\") + \"/workouts?limit=1\",\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":450,"wires":[["de58ed4a.8278d8"]]},{"id":"de58ed4a.8278d8","type":"http request","z":"806ceda2.45ef8","name":"send latest workout request","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":495,"y":500,"wires":[["d8fca991.ec1f2"]]},{"id":"d8fca991.ec1f2","type":"switch","z":"806ceda2.45ef8","name":"is working out?","property":"payload.data[0].status","propertyType":"msg","rules":[{"t":"eq","v":"IN_PROGRESS","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":505,"y":550,"wires":[["c64dfaf6.ed5778"]]},{"id":"c64dfaf6.ed5778","type":"trigger","z":"806ceda2.45ef8","name":"trigger working out","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":590,"y":600,"wires":[["37457b8c.a486ac"],["81f0d1e5.fdd57"]]},{"id":"37457b8c.a486ac","type":"switch","z":"806ceda2.45ef8","name":"workout type?","property":"payload.data[0].fitness_discipline","propertyType":"msg","rules":[{"t":"eq","v":"cycling","vt":"str"},{"t":"eq","v":"stretching","vt":"str"},{"t":"eq","v":"yoga","vt":"str"},{"t":"eq","v":"meditation","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":905,"y":400,"wires":[["f98636f1.8c3718"],["2ea68de2.49617a"],["600427d2.a430b8"],["473aaeb3.7b5e58"],["73f140df.df1cf"]]},{"id":"f98636f1.8c3718","type":"change","z":"806ceda2.45ef8","name":"cycling status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":man-biking::skin-tone-2:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Working out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":325,"wires":[["4b9e4be6.3b8ae4"]]},{"id":"2ea68de2.49617a","type":"change","z":"806ceda2.45ef8","name":"stretching status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":yoga3:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Working out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":375,"wires":[["4b9e4be6.3b8ae4"]]},{"id":"600427d2.a430b8","type":"change","z":"806ceda2.45ef8","name":"yoga status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":yoga3:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Working out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":425,"wires":[["4b9e4be6.3b8ae4"]]},{"id":"473aaeb3.7b5e58","type":"change","z":"806ceda2.45ef8","name":"meditating status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":man_in_lotus_position::skin-tone-2:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Working out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":475,"wires":[["4b9e4be6.3b8ae4"]]},{"id":"73f140df.df1cf","type":"change","z":"806ceda2.45ef8","name":"generic status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":man-lifting-weights::skin-tone-2:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Working out","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":525,"wires":[["4b9e4be6.3b8ae4"]]},{"id":"4b9e4be6.3b8ae4","type":"credentials","z":"806ceda2.45ef8","name":"load slack credentials","props":[{"value":"slackBaseUrl","type":"msg"},{"value":"slackToken","type":"msg"},{"value":"slackCookie","type":"msg"}],"x":1400,"y":325,"wires":[["aca365a9.788278"]]},{"id":"aca365a9.788278","type":"function","z":"806ceda2.45ef8","name":"format slack status update request","func":"return {\n    headers: {\n        \"cookie\": msg.slackCookie,\n        \"content-type\": \"multipart/form-data\"\n    },\n    method: \"POST\",\n    url: msg.slackBaseUrl + \"users.profile.set\",\n    payload: {\n        token: {\n            value: msg.slackToken,\n        },\n        profile: {\n            value: '{\"status_emoji\":\"'+msg.slackStatusEmoji+'\",\"status_text\":\"'+msg.slackStatusText+'\",\"status_expiration\":null}'\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1515,"y":375,"wires":[["703eec6a.9db2a4"]]},{"id":"703eec6a.9db2a4","type":"http request","z":"806ceda2.45ef8","name":"update slack status","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1515,"y":425,"wires":[[]]},{"id":"69aae7e3.481218","type":"http request","z":"806ceda2.45ef8","name":"update slack status","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":825,"wires":[[]]},{"id":"4fe43244.55bac4","type":"function","z":"806ceda2.45ef8","name":"format slack status clear request","func":"return {\n    headers: {\n        \"cookie\": msg.slackCookie,\n        \"content-type\": \"multipart/form-data\"\n    },\n    method: \"POST\",\n    url: msg.slackBaseUrl + \"users.profile.set\",\n    payload: {\n        token: {\n            value: msg.slackToken,\n        },\n        profile: {\n            value: '{\"status_emoji\":null,\"status_text\":\"\"}'\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1015,"y":775,"wires":[["69aae7e3.481218"]]},{"id":"81f0d1e5.fdd57","type":"credentials","z":"806ceda2.45ef8","name":"load slack credentials","props":[{"value":"slackBaseUrl","type":"msg"},{"value":"slackToken","type":"msg"},{"value":"slackCookie","type":"msg"}],"x":925,"y":725,"wires":[["4fe43244.55bac4"]]},{"id":"a33c3c40.4fbe6","type":"comment","z":"806ceda2.45ef8","name":"peloton login","info":"Calls to the Peloton API to login, and saves a flow variable for the session that is created. Other calls to the Peloton API will use the session ID to authenticate.","x":95,"y":200,"wires":[]},{"id":"b6ab8e28.075b18","type":"comment","z":"806ceda2.45ef8","name":"poll for peloton workouts","info":"","x":135,"y":500,"wires":[]},{"id":"20ea0a05.a71e36","type":"comment","z":"806ceda2.45ef8","name":"set a status in slack","info":"","x":865,"y":300,"wires":[]},{"id":"6fd8c782.61bb2","type":"comment","z":"806ceda2.45ef8","name":"clear the status in slack","info":"","x":875,"y":650,"wires":[]},{"id":"ccac736f.364238","type":"server-events","z":"d5821ff4.a55b48","name":"on notification CTA press","server":"860d2cc9.c3564","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":160,"y":600,"wires":[["a19a9e16.a5aa88"]]},{"id":"c6b7992a.9404c8","type":"inject","z":"eed5e8c5.781ea8","name":"every week","props":[],"repeat":"","crontab":"00 12 * * 0","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":195,"y":150,"wires":[["c90319c5.f43588"]]},{"id":"c90319c5.f43588","type":"api-call-service","z":"eed5e8c5.781ea8","name":"update the cert if needed","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"hassio","service":"addon_start","entityId":"","data":"{ \"addon\": \"core_letsencrypt\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":285,"y":200,"wires":[["35f651e6.63aad6"]]},{"id":"35d357ca.7c41","type":"inject","z":"35a50351.de44dc","name":"on restart","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":110,"y":700,"wires":[["b6d7a1bc.b4d738"]]},{"id":"b6d7a1bc.b4d738","type":"api-current-state","z":"35a50351.de44dc","name":"get state","server":"860d2cc9.c3564","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.mo","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":750,"wires":[["58cc5892.adc55"]]},{"id":"e6abc6d0.52ab88","type":"api-call-service","z":"eed5e8c5.781ea8","name":"reload https server","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"hassio","service":"addon_restart","entityId":"","data":"{ \"addon\": \"core_nginx_proxy\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":365,"y":300,"wires":[[]]},{"id":"35f651e6.63aad6","type":"delay","z":"eed5e8c5.781ea8","name":"wait 5 minutes","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":305,"y":250,"wires":[["e6abc6d0.52ab88"]]},{"id":"c1c96ba8a8f18025","type":"server-events","z":"806ceda2.45ef8","name":"status updates","server":"860d2cc9.c3564","version":1,"event_type":"kodeys_status_update","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"timestamp","propertyType":"msg","value":"","valueType":"date"}],"x":155,"y":800,"wires":[["09e71f162ea8c2df"]]},{"id":"3b932e2d840b0b9d","type":"switch","z":"806ceda2.45ef8","name":"activity type?","property":"payload.event.activity","propertyType":"msg","rules":[{"t":"eq","v":"focusing","vt":"str"},{"t":"eq","v":"snack","vt":"str"},{"t":"eq","v":"lunch","vt":"str"},{"t":"eq","v":"break","vt":"str"},{"t":"eq","v":"walking","vt":"str"},{"t":"eq","v":"errands","vt":"str"},{"t":"eq","v":"afk","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":445,"y":900,"wires":[["a642989f898bf187"],["fda19c225228d140"],["993510e8f74c4ea2"],["cb3e07ba22501a81"],["2b9c6037fc4bb19e"],["84bf0bacabecaa7b"],["61e001c0a6fc9a65"]]},{"id":"a642989f898bf187","type":"change","z":"806ceda2.45ef8","name":"focusing status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":heads-down:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Focusing","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":875,"wires":[["5bd0f11a06853e0c","98bec9b434e54caf"]]},{"id":"5bd0f11a06853e0c","type":"credentials","z":"806ceda2.45ef8","name":"load slack credentials","props":[{"value":"slackBaseUrl","type":"msg"},{"value":"slackToken","type":"msg"},{"value":"slackCookie","type":"msg"}],"x":950,"y":1000,"wires":[["aac0e4f8a6be964f"]]},{"id":"aac0e4f8a6be964f","type":"function","z":"806ceda2.45ef8","name":"format slack status update request","func":"return {\n    headers: {\n        \"cookie\": msg.slackCookie,\n        \"content-type\": \"multipart/form-data\"\n    },\n    method: \"POST\",\n    url: msg.slackBaseUrl + \"users.profile.set\",\n    payload: {\n        token: {\n            value: msg.slackToken,\n        },\n        profile: {\n            value: '{\"status_emoji\":\"'+msg.slackStatusEmoji+'\",\"status_text\":\"'+msg.slackStatusText+'\",\"status_expiration\":'+msg.slackStatusExpiration+'}'\n        }\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1065,"y":1050,"wires":[["59fe27e980f8a21e"]]},{"id":"59fe27e980f8a21e","type":"http request","z":"806ceda2.45ef8","name":"update slack status","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1065,"y":1100,"wires":[[]]},{"id":"fda19c225228d140","type":"change","z":"806ceda2.45ef8","name":"snack status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":apple:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Getting a snack","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":925,"wires":[["5bd0f11a06853e0c"]]},{"id":"993510e8f74c4ea2","type":"change","z":"806ceda2.45ef8","name":"lunch status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":sandwich:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Eating lunch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":975,"wires":[["5bd0f11a06853e0c"]]},{"id":"cb3e07ba22501a81","type":"change","z":"806ceda2.45ef8","name":"break status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":massage::skin-tone-2:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Taking a break","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1025,"wires":[["5bd0f11a06853e0c"]]},{"id":"2b9c6037fc4bb19e","type":"change","z":"806ceda2.45ef8","name":"walking status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":walking::skin-tone-2:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"On a walk","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1075,"wires":[["5bd0f11a06853e0c"]]},{"id":"84bf0bacabecaa7b","type":"change","z":"806ceda2.45ef8","name":"errands status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":car:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"Doing errands","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1125,"wires":[["5bd0f11a06853e0c"]]},{"id":"61e001c0a6fc9a65","type":"change","z":"806ceda2.45ef8","name":"afk status","rules":[{"t":"set","p":"slackStatusEmoji","pt":"msg","to":":afk_1:","tot":"str"},{"t":"set","p":"slackStatusText","pt":"msg","to":"AFK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1175,"wires":[["5bd0f11a06853e0c"]]},{"id":"09e71f162ea8c2df","type":"function","z":"806ceda2.45ef8","name":"set expiration","func":"return {\n    slackStatusExpiration: Math.round(msg.timestamp / 1000) + msg.payload.event.duration,\n    payload: msg.payload\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":205,"y":850,"wires":[["3b932e2d840b0b9d"]]},{"id":"98bec9b434e54caf","type":"credentials","z":"806ceda2.45ef8","name":"load slack credentials","props":[{"value":"slackBaseUrl","type":"msg"},{"value":"slackToken","type":"msg"},{"value":"slackCookie","type":"msg"}],"x":950,"y":1175,"wires":[["58b0a2f8ab324faf"]]},{"id":"58b0a2f8ab324faf","type":"function","z":"806ceda2.45ef8","name":"format notification snooze request","func":"return {\n    headers: {\n        \"cookie\": msg.slackCookie,\n        \"content-type\": \"multipart/form-data\"\n    },\n    method: \"POST\",\n    url: msg.slackBaseUrl + \"dnd.setSnooze\",\n    payload: {\n        token: {\n            value: msg.slackToken,\n        },\n        num_minutes: Math.floor((msg.slackStatusExpiration - (Date.now() / 1000)) / 60)\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1065,"y":1225,"wires":[["40c6e75847c253c2"]]},{"id":"40c6e75847c253c2","type":"http request","z":"806ceda2.45ef8","name":"update slack status","method":"use","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1065,"y":1275,"wires":[[]]},{"id":"619c4983bb8b02fe","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  title: Home Update\n  message: Right garage door was automatically closed after 20 minutes.","output":"yaml","x":830,"y":525,"wires":[["d970d9a1.8732d8"]]},{"id":"24e67f7ec29b8071","type":"template","z":"d5821ff4.a55b48","name":"format message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  title: Home Update\n  message: Left garage door was automatically closed after 20 minutes.","output":"yaml","x":830,"y":475,"wires":[["d970d9a1.8732d8"]]},{"id":"f5444f9a78e06211","type":"cronplus","z":"bb95cec4fd47765d","name":"schedule office heat pump","outputField":"payload.temperature","timeZone":"","persistDynamic":false,"commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"Start Workday","topic":"Start Workday","payloadType":"num","payload":"63","expressionType":"cron","expression":"30 7 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"},{"name":"End Workday","topic":"End Workday","payloadType":"num","payload":"57","expressionType":"cron","expression":"30 17 * * 1-5","location":"","offset":"0","solarType":"all","solarEvents":"sunrise,sunset"}],"x":295,"y":200,"wires":[["b07bb106df641828"]]},{"id":"b07bb106df641828","type":"api-call-service","z":"bb95cec4fd47765d","name":"set office heat pump temperature","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"climate","service":"set_temperature","entityId":"climate.office_heat_pump","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"last","x":965,"y":200,"wires":[[]]},{"id":"0c5c208c6ff43985","type":"mqtt out","z":"40c765c45776809d","name":"send mqtt message","topic":"msg.payload.topic","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8fe373d930fc33f2","x":525,"y":225,"wires":[]},{"id":"5ae2de2bc218ef9f","type":"template","z":"40c765c45776809d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"topic:\n  device/{{ msg.deviceName }}/light/{{ msg.lightName}}/command\npayload: '{ \"brightness\": {{ msg.brightness }} }'","output":"yaml","x":235,"y":200,"wires":[["0c5c208c6ff43985"]]},{"id":"1f30ae0b5b2f5af4","type":"comment","z":"bb95cec4fd47765d","name":"heating schedule","info":"# Home Mode\n## Office\n - 7:30a, All, 63°F\n - 6:00p, All, 58°F\n - 11:00p, All, 55°F\n\n## Bedroom\n - 6:30a, All, 63°F\n - 10:00a, All, 58°F\n - 3:00p, All, 61°F\n - 7:00p, All, 58°F\n - 11:00p, All, 55°F\n\n## Living Room\n - 7:30a, All, 61°F\n - 6:00p, All, 58°F\n - 11:00p, All, 55°F\n\n# Away Mode\n## Office\n - 1:00p, All, 60°F\n - 5:00p, All, 55°F","x":155,"y":125,"wires":[]},{"id":"0961e943094cfd13","type":"comment","z":"bb95cec4fd47765d","name":"temperature alarms","info":"# Temperature Alarms\nEmergency notifications are sent if temperatures go below 50°F, or if temperatures go above 90°F.","x":165,"y":525,"wires":[]},{"id":"300192bf5fc3a598","type":"server-state-changed","z":"bb95cec4fd47765d","name":"temperature changes","server":"860d2cc9.c3564","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor\\..+_temperature","entityidfiltertype":"regex","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":600,"wires":[["143764dc07a549c7"]]},{"id":"26f69f37c0e99d55","type":"api-render-template","z":"bb95cec4fd47765d","name":"render template","server":"860d2cc9.c3564","version":0,"template":"","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"","templateLocationType":"none","x":1180,"y":625,"wires":[["d002baab5e132d9d","01761bb4fafbe62a"]]},{"id":"ac18a91e45d6f6a7","type":"function","z":"bb95cec4fd47765d","name":"format template","func":"return {\n    template: \"{{ area_name('\" + msg.data.entity_id + \"') }} temperature is {{ states('\" + msg.data.entity_id + \"') }}°F\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":625,"wires":[["26f69f37c0e99d55"]]},{"id":"143764dc07a549c7","type":"switch","z":"bb95cec4fd47765d","name":"categorize status","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"47","vt":"num","v2":"90","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":465,"y":600,"wires":[["39f595bd4a3a3291"],["997dd92929601593"]],"outputLabels":["normal","alert"]},{"id":"997dd92929601593","type":"trigger","z":"bb95cec4fd47765d","name":"triggger alert mode","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"30","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"topic","topic":"topic","outputs":2,"x":765,"y":625,"wires":[["ac18a91e45d6f6a7"],[]],"outputLabels":["start","end"]},{"id":"f1c539d2a9988695","type":"template","z":"7bb8f9d1c802476e","name":"build critical notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"data:\n  message: {{payload}}\n  title: Home Update\n\n  data:\n    push:\n      sound:\n        name: \"default\"\n\n        critical: 1\n        volume: 1.0","output":"yaml","x":460,"y":325,"wires":[["18300f1aba7622fc","b44e0fd855dc6bcc"]]},{"id":"28325d99d9a9a423","type":"api-call-service","z":"7bb8f9d1c802476e","name":"notify Kodey via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_kodeys_iphone","entityId":"","data":"msg.data","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1060,"y":300,"wires":[[]]},{"id":"7bc5caa73d8a6ce2","type":"api-call-service","z":"7bb8f9d1c802476e","name":"notify Maddy via iPhone","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_madelyns_iphone","entityId":"","data":"msg.data","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1060,"y":350,"wires":[[]]},{"id":"d002baab5e132d9d","type":"link out","z":"bb95cec4fd47765d","name":"send critical notification","links":["48a8cb5bc1196ad3"],"x":1340,"y":600,"wires":[]},{"id":"48a8cb5bc1196ad3","type":"link in","z":"7bb8f9d1c802476e","name":"send critical notification","links":["d002baab5e132d9d"],"x":265,"y":325,"wires":[["f1c539d2a9988695"]]},{"id":"18300f1aba7622fc","type":"delay","z":"7bb8f9d1c802476e","name":"rate limit 1 message/minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":770,"y":300,"wires":[["28325d99d9a9a423"]]},{"id":"b44e0fd855dc6bcc","type":"delay","z":"7bb8f9d1c802476e","name":"rate limit 1 message/minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":770,"y":350,"wires":[["7bc5caa73d8a6ce2"]]},{"id":"39f595bd4a3a3291","type":"change","z":"bb95cec4fd47765d","name":"return to normal","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":575,"wires":[["997dd92929601593"]]},{"id":"4df4cadbf35743e3","type":"credentials","z":"7bb8f9d1c802476e","name":"load pagerduty API token","props":[{"value":"pagerdutyApiToken","type":"msg"}],"x":460,"y":525,"wires":[[]]},{"id":"9a061ae72015f093","type":"link in","z":"7bb8f9d1c802476e","name":"send pagerduty incident","links":["01761bb4fafbe62a"],"x":265,"y":525,"wires":[["4df4cadbf35743e3"]]},{"id":"01761bb4fafbe62a","type":"link out","z":"bb95cec4fd47765d","name":"send pagerduty incident","links":["9a061ae72015f093"],"x":1340,"y":650,"wires":[]},{"id":"a19a9e16.a5aa88","type":"switch","z":"d5821ff4.a55b48","name":"get garage door action","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"GARAGE_DOOR_CLOSE_LEFT","vt":"str"},{"t":"eq","v":"GARAGE_DOOR_CLOSE_RIGHT","vt":"str"},{"t":"eq","v":"GARAGE_DOOR_CLOSE_ALL","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":425,"y":600,"wires":[["59a01e692a771f2f"],["f3bad8b253ef6cf1"],["59a01e692a771f2f","f3bad8b253ef6cf1"]]},{"id":"59a01e692a771f2f","type":"api-call-service","z":"d5821ff4.a55b48","name":"close left garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_left_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":575,"wires":[["d970d9a1.8732d8"]]},{"id":"f3bad8b253ef6cf1","type":"api-call-service","z":"d5821ff4.a55b48","name":"close right garage door","server":"860d2cc9.c3564","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_right_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":625,"wires":[["d970d9a1.8732d8"]]},{"id":"9be42aa255ccc4f2","type":"comment","z":"2868ce2e53b0af86","name":"README","info":"\nLibrary to parse messages: [GitHub](https://github.com/argilo/gr-elster)\n\nMeter Model: Elster R2SD","x":485,"y":325,"wires":[]},{"id":"70a45e8f1e215d76","type":"comment","z":"bb95cec4fd47765d","name":"TODO","info":"I think this state machine can handle multiple \"resources\"; if so, we could manage a state machine for each of the temperature sensors, and run/end notification loops accordingly\n\nhttps://flows.nodered.org/node/node-red-contrib-xstate-machine\n\n","x":500,"y":500,"wires":[]}]